[submodule "library/src/main/java/com/sryang/torang/data"]
	path = library/src/main/java/com/sryang/torang/data
	url = https://github.com/sarang628/data.git
[submodule "app/src/main/java/com/sryang/torangbottomsheet/di/repository"]
	path = app/src/main/java/com/sryang/torangbottomsheet/di/repository
	url = https://github.com/sarang628/repository.git
